parameters:
    level: 4
    paths:
        - src
        - tests
        - config
    excludePaths:
        - tests/PHPStan/Rules/Rector/Fixture/*
    treatPhpDocTypesAsCertain: false

rules:
    - Netwerkstatt\SilverstripeRector\PHPStan\Rules\Rector\DocumentedRectorRule
